/* Custom Properties */
:root {
    --art-h3: 125%;
    --art-img-w: 210px;
    --art-img-h: 120px;
    --col-margin: 18px;
    --spacing-2: 2rem;
    --spacing-025: .25rem;
    --spacing-075: .75rem;
    --ff-h: 'Fira Sans', sans-serif;
    --ff-m: 'Inter', sans-serif;
    --black: #000;
    --white: #FFF;
    --web-bg-light: #FFF;
    --web-bg-dark: #000;
    --neutral10: #D3D7DA;
    --neutral90: #2B3135;
    --pri05: #EDF2F9;
    --pri10: #D6DEEB;
    --pri20: #A7B9D9;
    --pri60: #1B3E7A;
    --pri80: #122E5B;
    --pri90: #091E3C;
    --sec60: #1F64E4;
    --black-o10: #0000001a;
    --white-o10: #FFFFFF1a;
    --tgl-black: var(--black);
    --tgl-white: var(--white);
    --tgl-web-bg: var(--web-bg-light);
    --txt-neutral90: var(--neutral90);
    --tgl-pri05: var(--pri05);
    --tgl-pri10: var(--pri10);
    --tgl-pri20: var(--pri20);
    --tgl-pri80: var(--pri80);
    --tgl-sec60: var(--sec60);
    --tgl-black-o10: var(--black-o10);
    --tgl-white-o10: var(--white-o10);
}

html.dark, .sg-page .dark {
    --tgl-black: var(--white);
    --tgl-white: var(--black);
    --tgl-web-bg: var(--web-bg-dark);
    --txt-neutral90: var(--white);
    --tgl-pri05: var(--pri90);
    --tgl-pri10: var(--pri80);
    --tgl-pri20: var(--pri60);
    --tgl-pri80: var(--neutral10);
    --tgl-sec60: var(--sec60);
    --tgl-black-o10: var(--white-o10);
    --tgl-white-o10: var(--black-o10);
}

/* Global Styles */
body {
    font-family: var(--ff-m);
    color: var(--txt-neutral90);
    text-align:center;
    background: var(--tgl-web-bg);
    margin: 0;
    padding: 0;
    overflow-anchor: none;
    overflow-wrap: break-word;
}

p, ul, li {
    margin: 0;
    padding: 0;
}

a, a:hover {
    color: var(--tgl-pri80);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

html {
    overflow-y: scroll;
}

h3 {
    font-family: var(--ff-h);
    font-weight: 600;
    line-height: 1.2;
}

/* Navigation */
.head {
    position: relative;
    z-index: 4999;
    margin: 0 0 1.5rem;
    padding: 0 18px 1px;
    border-top: .25rem solid var(--tgl-sec60);
    background: var(--tgl-white);
    box-sizing: border-box;
}

.head:after {
    content: '';
    position: absolute;
    left: 18px;
    right: 18px;
    bottom: 0;
    height: 1px;
    background: var(--tgl-pri10);
}

.m-bg-4 .head:after {
    left: 33px;
    right: 33px;
}

.head a {
    color: var(--tgl-pri80);
}

.head li {
    position: relative;
    display: block;
}

.menu1 {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: .5rem 0 -1px;
    padding: 1px 0 0;
    font-weight: 600;
    font-size: 100%;
    line-height: 2.5;
    white-space: nowrap;
}

.menu1:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    background: var(--tgl-pri10);
}

.menu1 > li {
    flex: 0 0 auto;
}

.menu1 a {
    position: relative;
    display: block;
    padding: 0 .5em;
    text-decoration: none;
}

.menu1 a:hover {
    text-decoration: none;
}

.menu1 a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: transparent;
}

.menu1 a:hover:after {
    background: var(--tgl-pri20);
}

.menu1 .active a:after {
    background: var(--tgl-sec60);
}

.menu2 {
position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    column-gap: 0;
    min-width: 9em;
    max-height: 0;
    transition: all .2s linear .3s;
    overflow: hidden;
    border: 0 solid var(--tgl-pri10, #D3D7DA);
    border-radius: .25rem;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.125rem;
    background: rgba(255, 255, 255, .9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.dark .menu2 {
    background: rgba(0, 0, 0, .9);
}

li:hover .menu2 {
    padding: .5rem 0;
    border-width: 1px;
    box-shadow: 0 .5rem 1rem var(--tgl-black-o10);
}

li:hover .menu2 {
    max-height: 29.75rem;
}


.menu2 a {
    padding: .5rem 1rem;
}

.menu2 a:hover {
    background: var(--tgl-pri05);
}

.menu2 a:after {
    display: none;
}

#head {
    position: sticky;
    top: -10rem;
    z-index: 99;
    transition: box-shadow 1s;
}

#head.shadow {
    box-shadow: 0 .5rem 1rem var(--tgl-black-o10);
}

/* Content Layout */
.content {
    position: relative;
    clear: both;
    margin-bottom: 20px;
}

#content:after {
    content: '';
    display: block;
    clear: both;
}

.col-a {
    float: left;
    width: 632px;
    margin: 0 0 0 var(--col-margin);
}

/* Article Styles */
.art {
    position: relative;
    min-height: var(--art-img-h);
    margin: 0 0 var(--spacing-075);
    padding: 0 0 8px calc(var(--art-img-w) + var(--spacing-075));
    box-sizing: border-box;
    overflow-wrap: break-word;
}

.art h3 {
    display: block;
    margin: 0 0 var(--spacing-025) -12px;
    padding: 0 0 0 12px;
    font-weight: 600;
    font-size: var(--art-h3);
    line-height: 1.2;
}

.art-link {
    color: var(--tgl-pri80);
    outline: none;
    text-decoration: none;
}

.art-link:hover h3 {
    text-decoration: underline;
}

.art .art-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: var(--art-img-w);
    height: var(--art-img-h);
    color: #FFF;
    background: url('https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg') no-repeat 50% 50% / 100%;
}

.art u {
    display: block;
    width: 210px;
    height: 120px;
    background: transparent no-repeat 50% 50% / auto 100%;
}

.art p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 87.5%;
    line-height: 1.4;
}

/* Responsive Adjustments */
@media screen and (min-width: 389px) and (max-width: 1680px) {
    :root {
        --art-h3: 106.25%;
    }
}
