<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @import "../styles.css";
    </style>


</head>
<body>
<div id="main">
    <div class="head" id="head">
        <ul class="menu1">
            <li><a href="https://www.idnes.cz/zpravy" title="Zprávy">Zprávy</a>
                <ul class="menu2">
                    <li><a href="https://www.idnes.cz/zpravy/domaci" title="Domácí">Domácí</a></li>
                    <li><a href="https://www.idnes.cz/zpravy/zahranicni" title="Zahraničí">Zahraničí</a></li>
                </ul>
            </li>
            <li><a href="https://www.idnes.cz/kraje" title="Kraje">Kraje</a>
                <ul class="menu2">
                    <li><a href="https://www.idnes.cz/praha" title="Praha a střední Čechy">Praha a střední Čechy</a>
                    </li>
                    <li><a href="https://www.idnes.cz/brno" title="Brno">Brno</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="content" class="content">
        <div class="col-a">
            <div th:each="RSSItem:${items}" class="art">
                <a th:href="@{${RSSItem.permaLink}}"
                   class="art-link">
                    <h3 th:text="${RSSItem.title}"></h3>
                    <div class="art-img-box">
                        <div class="art-img" th:style="'background-image: url(' + @{${RSSItem.thumbLink}} + ')'"
                           th:title="${RSSItem.title}"></div>
                    </div>
                </a>
                <p th:text="${RSSItem.text}">
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>